body {
    font-family:  'Times New Roman' , Times, serif;
    margin: 20px;
    padding:0;
    background-color:rgb(134, 79, 122);

}

h1 {
    text-align: center;
    color:rgb(255, 238, 238);
}

form{
    max-width: 700px;
    margin: auto;
    background-color: rgb(224, 215, 215);
    border-radius:  8px;
    box-shadow: 0 4px 8px rgba(255, 245, 245, 0.5);
    padding: 20px;

}

fieldset {
    border: 2px solid #c9b5c1;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: rgb(245, 194, 234)
}

legend {
    font-weight: bold;
    text-align: left;
    color:rgb(0, 0, 0);
}

label{
    display: block;
    margin-top: 10px;
    color: rgba(0, 0,  0, 0.5)

}

input,textarea {

    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #b997ab;
    border-radius: 4px;
    box-shadow: border-box;

}
 button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:  antiquewhite;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
 }

 
 #ResumeOutput {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 2px solid #8b3869;
    border-radius: 8px;
    background: rgb(133, 108, 131);
    box-shadow: 0 4px 8px rgba(255, 245, 245, 0.5);
    

 }

 #ResumeOutput h2 {

    color: black;

 }

 .ProfilePicture {
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(255, 242, 254)  ;
    box-shadow: 0 4px 8px rgba(255, 255, 255);
    border-radius:  500%;
    width: 150px;
    height: 150px;
    object-fit: cover;



 }